//--字距調整
body {
  letter-spacing: 3px;
}
.letter-spacing-7 {
  letter-spacing: 7px;
}
//--文章斷行
.white-space-pre-line {
  white-space: pre-line
}

//--文字粗體
.fw-500 {
  font-weight: 500;
}

//--透明背景
.bg-transparent {
  background-color: transparent
}

//--垂直文字
.text-vrl {
  writing-mode: vertical-rl
}
.text-lg-vrl {
  @media (min-width: 992px) { 
      writing-mode: vertical-rl;
  }
}

ol, ul {
	list-style: none;
}
